* {
  padding: 0;
  margin: 0;
}
header,
section,
footer {
  background-color: #d6ccc2;
  border: 5px #9d8189 solid;
  padding: 30px 50px;
  margin: 30px;
}

header {
  background-color: #3ff0f6;
  height: 80px;
  width: 100%;
}
h1 {
  color: write;
}
header li {
  display: inline;
  margin-right: 4vw;
}
header ul {
  position: absolute;
  right: 5vw;
  top: 0;
  line-height: 180px;
}
header a {
  color: write;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}
